<div class="container">
    <form class="form shadow m-3 p-3" [formGroup]="form" (ngSubmit)="submitForm()">
        <h1>Reset Password</h1>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>Old Password</mat-label>
                <input type="password" matInput formControlName="oldPassword" placeholder="Enter Old Password">
                <mat-error *ngIf="form.controls.oldPassword.hasError('required')">
                    Old Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPassword" placeholder="Enter New Password"
                [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.controls.newPassword.hasError('required')">
                    New Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row mt-3" *ngIf="form.controls.newPassword.hasError('pattern')">
            <mat-error *ngIf="form.controls.newPassword.hasError('pattern')">
                <span class="danger">Password Must contain below conditions.</span>
                <ul>
                    <li [ngClass]="{'text-success':isStringContainsUpperCaseLetter(form.controls.newPassword), 'danger': !isStringContainsUpperCaseLetter(form.controls.newPassword)}">Min 1 Uppercase Letter.</li>
                    <li [ngClass]="{'text-success':isStringContainsLowerCaseLetter(form.controls.newPassword), 'danger': !isStringContainsLowerCaseLetter(form.controls.newPassword)}">Min 1 Lowercase Letter.</li>
                    <li [ngClass]="{'text-success':isStringContainsSpecialCharacter(form.controls.newPassword), 'danger': !isStringContainsSpecialCharacter(form.controls.newPassword)}">Min 1 Special Character.</li>
                    <li [ngClass]="{'text-success':isStringContainsNumber(form.controls.newPassword), 'danger': !isStringContainsNumber(form.controls.newPassword)}">Min 1 Number.</li>
                    <li [ngClass]="{'text-success':isStringLengthEightOrNot(form.controls.newPassword), 'danger': !isStringLengthEightOrNot(form.controls.newPassword)}">Min 8 Characters.</li>
                    <li [ngClass]="{'text-success':isStringLengthEightOrNot(form.controls.newPassword), 'danger': !isStringLengthEightOrNot(form.controls.newPassword)}">Max 16 Characters.</li>
                </ul>
            </mat-error>
        </div>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>Confirm New Password</mat-label>
                <input type="password" matInput formControlName="confirmNewPassword" placeholder="Enter Confirm New Password"
                [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.controls.confirmNewPassword.hasError('required')">
                    Confirm New Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row mt-3" *ngIf="form.controls.confirmNewPassword.hasError('pattern')">
            <mat-error *ngIf="form.controls.confirmNewPassword.hasError('pattern')">
                <span class="danger">Password Must contain below conditions.</span>
                <ul>
                    <li [ngClass]="{'text-success':isStringContainsUpperCaseLetter(form.controls.confirmNewPassword), 'danger': !isStringContainsUpperCaseLetter(form.controls.confirmNewPassword)}">Min 1 Uppercase letter.</li>
                    <li [ngClass]="{'text-success':isStringContainsLowerCaseLetter(form.controls.confirmNewPassword), 'danger': !isStringContainsLowerCaseLetter(form.controls.confirmNewPassword)}">Min 1 Lowercase letter.</li>
                    <li [ngClass]="{'text-success':isStringContainsSpecialCharacter(form.controls.confirmNewPassword), 'danger': !isStringContainsSpecialCharacter(form.controls.confirmNewPassword)}">Min 1 Special character.</li>
                    <li [ngClass]="{'text-success':isStringContainsNumber(form.controls.confirmNewPassword), 'danger': !isStringContainsNumber(form.controls.confirmNewPassword)}">Min 1 Number.</li>
                    <li [ngClass]="{'text-success':isStringLengthEightOrNot(form.controls.confirmNewPassword), 'danger': !isStringLengthEightOrNot(form.controls.confirmNewPassword)}">Min 8 Characters.</li>
                    <li [ngClass]="{'text-success':isStringLengthEightOrNot(form.controls.confirmNewPassword), 'danger': !isStringLengthEightOrNot(form.controls.confirmNewPassword)}">Max 16 Characters.</li>
                </ul>
            </mat-error>
        </div>
        <div class="row mt-3" *ngIf="form.hasError('notMatched')">
            <mat-error *ngIf="form.hasError('notMatched')">
                <span class="danger">Passwords are not matched.</span>
            </mat-error>
        </div>
        <div class="row mt-3">
            <button type="submit" mat-raised-button color="primary" class="m-2" style="width: 150px;" [disabled]="!form.valid">Update Password</button>
            <button type="button" mat-raised-button color="warn" class="m-2" style="width: 100px;" (click)="form.reset()">Reset</button>
        </div>
    </form>
</div>